:root {
    --background-color: #f8f9fa;
    --text-color: #333; 
    --header-background: #8fcfd1; 
    --nav-background: #e0f7fa; 
    --nav-text-color: #00796b; 
    --nav-hover-background: #b2dfdb;
    --flashcard-background: #ffffff; 
    --flashcard-text-color: #333; 
    --footer-background: #8fcfd1; 
}

[data-theme="dark"] {
    --background-color: #333; 
    --text-color: #f8f9fa; 
    --header-background: #444; 
    --nav-background: #555; 
    --nav-text-color: #e0f7fa; 
    --nav-hover-background: #666;
    --flashcard-background: #555; 
    --flashcard-text-color: #f8f9fa; 
    --footer-background: #444;
}

/* home.css */
#google_translate_element { 
    margin-top: 10px;
    text-align: right; 
}

.goog-te-combo { 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
    font-size: 16px; }

body {
    font-size: 16px;
}

/* Normal font size */
body.normal-font {
    font-size: 16px;
}

/* Larger font size */
body.large-font {
    font-size: 20px;
}

/* Smaller font size */
body.small-font {
    font-size: 12px;
}

/* Styling for font size buttons */
.font-size-buttons {
    margin: 20px;
}

.font-size-buttons button {
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Header styling */
header {
    background-color: var(--header-background); 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    color: var(--text-color); 
}

.header-buttons { 
    display: flex;
    gap: 10px; 
}

header button { 
    background-color: var(--nav-background);
    color: var(--nav-text-color); 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.company-info {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-around;
}

.company-info .company-name {
    font-size: 1.5em; 
    color: var(--text-color); 
    font-weight: bold;
    padding: 0;
}

.company-info .slogan {
    font-size: 0.5em; 
    color: var(--text-color); 
    font-style: italic;
}

nav {
    margin: 0px;
    padding: 10px 5px;
    height: 50px;
    width: 100%;
    background-color: var(--nav-background); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--nav-text-color); 
}

a {
    color: var(--nav-text-color); 
    text-decoration: none;
    cursor: pointer;
}

nav .leftcont, nav .rightcont {
    display: flex;
    align-items: center;
}

nav .box {
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    color: var(--nav-text-color);
    cursor: pointer;
    border-radius: 5px;
}

nav .box:hover {
    background-color: var(--nav-hover-background);
}

nav .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-clock {
    font-size: 1.2em;
    color: #333;
    margin: 10px 20px;
    font-weight: bold;
}

nav #city-search {
    width: 50%;
    padding: 0.2rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    background-color: var(--footer-background); 
    padding: 18px;
    text-align: center;
    color: var(--text-color); 
    position: static;
    bottom: 0;
    width: 100%;
}