:root {
    --background-color: #121212; /* Main background */
    --text-color: #e0e0e0; /* General text color */
    --header-background: #1e1e1e; /* Header background */
    --nav-background: #242424; /* Navigation background */
    --nav-text-color: #76c7c0; /* Navigation text */
    --nav-hover-background: #333333; /* Hover state for nav */
    --flashcard-background: #1e1e1e; /* Flashcard background */
    --flashcard-text-color: #e0e0e0; /* Flashcard text */
    --footer-background: #1e1e1e; /* Footer background */
}

/* Styling for body */
body {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}


.font-size-buttons button {
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: var(--nav-background);
    color: var(--nav-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header {
    background: #000000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 7vh;
}

.company-info {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 35px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.company-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.company-name {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap; /* Prevents the name from breaking to a new line */
}

.slogan {
    font-size: 14px;
    margin: 0;
    color: #c1c7d0;
}

.translation-container {
    flex-grow: 1;
    text-align: center;
}

.font-size-buttons {
    display: flex;
    gap: 5px;
}

.font-size-button {
    background: #3a6073;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.font-size-button:hover {
    background: #2b3a4b;

}
/* Navigation */
.nav-content {
    margin: 0;
    padding: 10px 5px;
    height: 5vh;
    width: 100%;
    background-color: var(--nav-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--nav-text-color);
}

.nav-content a {
    color: var(--nav-text-color);
    text-decoration: none;
    cursor: pointer;
}

.nav-content .leftcont,
.nav-content .rightcont {
    display: flex;
    align-items: center;
}

.nav-content .box {
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    color: var(--nav-text-color);
    cursor: pointer;
    border-radius: 5px;
}

.nav-content .box:hover {
    background-color: var(--nav-hover-background);
}

.nav-content .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-content #city-search {
    width: 50%;
    padding: 0.2rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Footer */
footer {
    /* background-color: var(--footer-background); */
    padding: 18px;
    text-align: center;
    color: var(--text-color);
    position: static;
    bottom: 0;
    width: 100%;
    align-content: center;
    height: 50px;
}

/* Google Translate Styling */
#google_translate_element {
    margin-top: 10px;
    text-align: right;
}

.goog-te-combo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}